/*font-family: 'Wallpoet', cursive;
font-family: 'Righteous', cursive;
font-family: 'ZCOOL QingKe HuangYou', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Luckiest Guy', cursive;*/
* 
{
    --rose1 : #E674A4;
    --rose2 : #D6407F;
    --rose3 : #C40E5B;
    --rose4 : #91033E;
    --rose5 : #5D0027;

    --bleu1 : #699BC4;
    --bleu2 : #3872A2;
    --bleu3 : #145A94;
    --bleu4 : #09406E;
    --bleu5 : #032847;

    --jaune1 : #FFE980;
    --jaune2 : #FADC4A;
    --jaune3 : #E5C111;
    --jaune4 : #AA8D03;
    --jaune5 : #6D5B00;

    margin      : 0;
    padding     : 0;
    font-family : 'ZCOOL QingKe HuangYou', cursive;
    text-align  : center;
    
}

html, body
{
    height:100%;
}

main
{
    height:100%;
    background-color: var(--jaune3);
    display: flex;
    flex-direction:column;
}

a:hover, a:visited, a, a:
{

}

.top
{
    text-align:center;
    display:flex;
    flex-direction:row;
    min-height: 50%;
}

.bottom
{
    display: flex;
    flex-direction: row;
    min-height: 50%;
}

.left
{
    width:50%;
    background-color: var(--bleu2);
}

.right
{
    width:50%;
    background-color: var(--rose2);
}

#attac
{
    background-image:url("../images/monopoly.png");
    background-repeat:no-repeat;
    background-size: 80%;
    background-position:center;
    width: 33.3%;
    margin: 0 auto;
    margin-top:20px;
    padding: 20px;
    background-color: var(--rose3);
}

#dollar
{
    text-align:center;
    margin-top: 20px;
    font-size:40px;
}

#reste
{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    margin-top:20px;
    text-align:center;
}

.container
{
    display : flex;
    flex-direction: column;
}
